* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: clamp(5pt, 80vw, 125pt);
  font-weight: bold;
  color: #ffe500;
  margin-top: 50px;
  margin-left: 27pt;
  margin-bottom: 0pt;
  padding: 0px;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: clamp(5pt, 80vw, 140pt);
  font-weight: bold;
  color: #ffe500;
  margin-top: 5px;
  padding: 0px;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 120px;
  font-weight: bold;
  color: black;
}

p {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: black;
  font-size: clamp(5pt, 2vw, 20pt);
  text-align: justify;
}

.highlight {
  color: #ffe500;
}

/* Position Classes*/
.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.right {
  position: absolute;
  top: 520pt;
  margin-left: 784pt;
}

.fixed {
  position: fixed;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 70px;
}

/* Container */
.container-bg {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar ul li a {
  padding: 10px 20px;
}

.img-caption {
  font-size: small;
  color: #adadad;
}

.dates {
  color: white;
  font-size: 20px;
  background-color: black;
}

/* Artistmenu */
.artistmenu {
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artistmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.artistmenu ul li {
  margin-bottom: 20px;
}

.artistmenu ul li a {
  display: block;
  padding: 5px 20px;
  font-size: 20pt;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.artistmenu .navbar ul li {
  display: flex;
  align-items: last baseline;
}

.artistmenu .navbar ul li {
  transition: all 0.5s ease-in-out;
}

.artistmenu .navbar ul li:hover {
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}

.background-image-container {
  height: 100vw;
  width: 100vw;
  transition: background-image 2s ease-in-out;
  background-size: contain;
}




/* Back menu */
.backmenu {
  margin-top: 10px;
  display: flexbox;
  padding: 10px 20px;
  margin-left: 35pt;
}

.backmenu .navbar ul li a {
  transition: all 0.5s ease-in-out;
  padding-bottom: 100px;
}

.backmenu .navbar ul li {
  transition: all 0.5s ease-in-out;
  padding-bottom: 10px;
}

.backmenu .navbar ul li a:hover {
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}



/* Button */

.thickbuttonoptic {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffe500;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-size: clamp(5pt, 5vw, 60pt);
  border: none;
}

.thickbuttonopticblue {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #01348f;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  color: white;
  font-size: clamp(5pt, 5vw, 60pt);
  border: none;
}



.btn {
  background-color: #ffe500;
  font-size: 20pt;
  cursor: pointer;
  width: 500px;
}

.btn:hover {
  background-color: black;
  color: #ffe500;
}

#feminin {
  font-size: 40pt;
  margin-bottom: 12px;
  /* Margin between "feminin [die]" and "INNEN" */
}

#landingpagepicture {
  width: 745pt;
  height: 520pt;
  margin-top: -24pt;
  margin-left: 35pt;
  background-color: black;
}

#landingcontent {
  width: 65vw;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 50px;
}

#rectangle {
  width: 70%;
  height: fit-content;
  margin-top: 90px;
  margin-left: 270px;
  margin-bottom: 50px;
  border: 8px solid #ffe500;
}





/* Popuo */

.popup {
  display: none;
}

.popup-cover-content {
  font-size: small;
  color: #adadad;
  padding-left: 50px;
  padding-right: 50%;
}

.popup-content {
  background-color: #ffe500;
  margin: auto;
  padding: 20px;
  overflow: auto;
  z-index: 1;
  width: 90vw;
  height: 80vh;
  max-height: 400px;
  margin-right: 70px;
}

.popup-content p {
  font-size: 12pt;
  line-height: 40px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





#image-hover-text {
  display: flex;
  justify-content: flex-start;
}

#image-track .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

#image-track {
  display: flex;
  gap: 4vmin;
  margin-top: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
}

.image {
  user-select: none;
}

/* Fancy word animation */

@keyframes float {

  from,
  to {
    transform: translateY(-0%);
  }

  50% {
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
}

/* Impressum */
.line {
  display: flex;
  justify-content: space-between;
}

.wordartistheading {
  text-transform: uppercase;
  transition: opacity 250ms ease;
  font-family: "Roboto Mono", monospace;
  font-size: clamp(5pt, 60vw, 130pt);
  font-weight: bold;
  margin-top: 5px;
  padding: 0px;
}

.wordlandingpage {
  transition: opacity 250ms ease;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: clamp(5pt, 2vw, 25pt);
}

.word {
  color: black;
  font-size: clamp(5pt, 2vw, 50pt);
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

#text:has(.fancy:hover) .wordartistheading:not(.fancy:hover) {
  opacity: 0.2;
}

#text:has(.fancy:hover) .wordlandingpage:not(.fancy:hover) {
  opacity: 0.2;
}

#text p {
  font-size: 15pt;
}

#text a {
  font-size: 15pt;
}

.fancy span {
  display: inline-block;
}

.fancy>.outer {
  transition: transform 350ms ease;
}

.fancy:hover>.outer {
  transition-duration: 800ms;
}

.fancy:hover>.outer>.inner {
  animation: float 5s ease infinite;
}

.fancy:hover>.outer>.inner>.letter {
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: initial;
  animation: background-pan 150s linear infinite;
}

.fancy:hover>.outer:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover>.outer:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover>.outer:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover>.outer:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover>.outer:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover>.outer:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover>.outer:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover>.outer:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover>.outer:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover>.outer:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover>.outer:nth-child(11) {
  transform: translate(0%, -10%) rotate(-3deg);
}

.fancy:hover>.outer:nth-child(12) {
  transform: translate(5%, 30%) rotate(-10deg);
}

.fancy:hover>.outer:nth-child(13) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover>.outer:nth-child(14) {
  transform: translate(0%, 40%) rotate(-6deg);
}

.fancy:hover>.outer:nth-child(15) {
  transform: translate(0%, -30%) rotate(-10deg);
}

.fancy:hover>.outer:nth-child(16) {
  transform: translate(5%, 60%) rotate(8deg);
}

.fancy:hover>.outer:nth-child(17) {
  transform: translate(0%, -20%) rotate(-6deg);
}

.fancy:hover>.outer:nth-child(18) {
  transform: translate(0%, 40%) rotate(-10deg);
}

.fancy:hover>.outer:nth-child(19) {
  transform: translate(0%, 20%) rotate(6deg);
}

.fancy:hover>.outer:nth-child(20) {
  transform: translate(20%, -50%) rotate(8deg);
}

.container2 {
  width: 100%;
  margin: 2rem auto;
}




.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;

}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;

}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 8;

}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 12;

}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 12;
}


.center figure {
  margin: 40px;
  /* This creates a 20px gap between figures (10px on each side) */
}


/* wavy background */

.yellow {
  background-color: #ffe500;
}

.spacer {
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.yellowWave {
  background-image: url(yellowWave.svg);
}




.lifeCover {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: end;
  margin-left: auto;
  padding-right: 5vw;
}

.lifeCover2 {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: start;
  margin-left: 10%;
  padding-right: 5vw;
}

.lifeCover2col {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .lifeCover2 {
    flex-direction: column;
    align-items: flex-start;
  }
}





/* timeline */

.bigdate {
  font-size: clamp(5pt, 6vw, 70pt);
  color: ghostwhite;
  font-family: serif;
  letter-spacing: 3px;
  font-weight: bold;
}

.timeline {
  width: 70%;
  margin-left: 15%;
  position: relative;
  padding: 20px;
}


.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 3px;
  height: 100%;
  background: ghostwhite;
}

#almeidatimeline:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: rgb(160, 160, 160);
}

#almeidatimeline .column .title .bigdate:before {
  content: "";
  position: absolute;
  left: -115px;
  top: 80px;
  width: 10px;
  height: 10px;
  background: rgb(160, 160, 160);
  border: 3px solid rgb(160, 160, 160);
}



.timeline .column {
  margin: 40px 40px 40px 120px;
}

.timeline .column .title {
  position: relative;
}


.timeline .column .title .bigdate:before {
  content: "";
  position: absolute;
  left: -62px;
  top: 80px;
  width: 10px;
  height: 10px;
  background: ghostwhite;
  border: 3px solid ghostwhite;
}

.secHeading {
  margin-top: -50px;
  font-size: clamp(5pt, 3vw, 30pt);
  color: black;
  text-transform: uppercase;
}

.timeline .column .description p {
  font-size: clamp(5pt, 3vw, 10pt);
  line-height: 25px;
  margin-left: 20px;
  margin-top: 10px;
}

.timeline .column .description {
  border-left: 2px solid #000;
}



/* drag effect */
.dragmouse:hover {
  cursor: none;
}

.dragmouse:hover::before {
  content: "drag left";
  display: block;
  width: 120px;
  height: 120px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  line-height: 120px;
  text-align: center;
  position: fixed;
  top: calc(50% - 60px + 28.5vmin);
  left: calc(25% - 60px);
  z-index: -1;
}


/* fancy button index */



/* hiden animation claude cahun */
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.container {
  width: 90%;
  margin-left: 10%;
  margin-top: -100px;
  height: 2000px;
}

.animation {
  width: 100%;
  height: 100%;
  font-size: 11px;
  text-align: center;
  background: #565656;
  border: none;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  -webkit-animation: ani2 0.7s steps(70) forwards;
  animation: ani2 0.7s steps(70) forwards;
}

.animation:hover {
  -webkit-animation: ani 0.7s steps(70) forwards;
  animation: ani 0.7s steps(70) forwards;
}

.hidden {
  position: absolute;
  width: 100%;
}


/* twin heading */

.mirror:hover {
  transform: scaleX(-1);
}


#twinheading h3 {
  transform: scaleX(2);
}

#twinheading .mirror:hover {
  transform: scaleX(-2);
}


/* mouse follower */

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-cursor {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 900;
  top: -40px;
  left: -40px;
  pointer-events: none;
}

.cursor__small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffe500;
  z-index: 5;
  margin: -5px 0 0 -5px;
}

.cursor__big {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: #ffe500 2px solid;
  z-index: 1;
  opacity: 1;
  margin: -40px 0 0 -40px;
  transform: scale(0);
  transition: all 320ms cubic-bezier(.26, .01, .17, 1);
}